*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary: #FA7343;
}

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Intro', sans-serif;
    font-weight: 900;

}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title, h2 {
    color: var(--primary);
}

.description {
    color: #9ea0a5;
}

.nav-mobile img {
    width: 32px;
}

.desktop-menu {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section img {
    height: 60px;
}

.container-steps {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.container-steps-right-side{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.number-title {
    font-weight: bold;
    text-transform: uppercase;
}

.desktop-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.text-container {
    max-width: 80%
}


/** Cuando el viewport sea de al menos 768px, muestra el menú de desktop, y oculta el menú móvil */
@media (min-width: 768px) {
    .desktop-menu {
        display: block;
    }

    .nav-mobile {
        display: none;
    }

    section {
        flex-direction: column;
    }

    .desktop-container {
        display: flex;
        flex-direction: row;
    }

}